node_modules
dist
coverage
.serverless
.esbuild
pnpm-lock.yaml
/cli
layers/*/nodejs
packages/console-db/src/generated
packages/console-db/prisma/migrations
apps/console-app
# Written by examples/sample-morpg/scripts/pack-assets.mjs (byte-identical re-runs).
examples/sample-morpg/assets/view/*.json
